# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Platcapp test game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Neagz\Project\Platcapp test game\.idea\.idea.Platcapp test game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
